#first {
  background-color: grey;
}

button {
  width: 100px;
  height: 40px;
  margin: 20px 0px;
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
